body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  color: #333;
}

body.dark-theme {
  background-color: #333;
  color: #f0f0f0;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
}


header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

h1 {
  margin: 0;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
  padding: 20px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #eee;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 160px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: inherit;
  padding: 12px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}


h2 {
  margin-top: 80px;
  font-size: 36px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}

h3 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
}

a:hover {
  color: #555;
}

nav ul li a {
  color: inherit;
  }

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }